

<div id="vwUserProfile" class="row container-fluid">

    <div class="alert alert-warning" ng-show="vm.errormsg">
        <h4 ng-show="vm.errorstatus">{{ vm.errorstatus }}</h4>
        <p>{{ vm.errormsg }}</p>
    </div>

    <form novalidate name="userProfileForm" ng-submit="vm.manageProfile(vm.profile)">

        <input type="submit" class="hidden" />

        <div class="col-md-6 col-sm-12" ng-init="vm.manageProfile()">

            <div class="form-group">
                <label class="findme-color-fc-dark" for="email">{{vm.appProps.lbl_Email}}</label>
                <label class="findme-color-fc-dark" for="email" ng-show="vm.profile.emailToVal">&nbsp;&nbsp;&nbsp;({{vm.appProps.msg_WtngEmailCnfrmtn}})</label>
                <div ng-show="vm.profile.emailLocked">
                    <label class="findme-lbl pink">{{vm.profile.email}}</label>
                </div>
                <div ng-show="vm.profile.emailToVal">
                    <label class="findme-lbl bg-warning">{{vm.profile.emailToVal}}</label>
                    <span>
                        <button type="button" class="btn btn-danger btn-sm btn-email cancel" ng-disabled="vm.cancelingEmail" ng-hide="vm.resendingEmail" ng-click="vm.cancelEmail()"
                                title="{{vm.appProps.lbl_CnclCnfrmtn}}">
                            <span class="fa fa-times" ng-hide="vm.cancelingEmail"></span>
                            <span class="fa fa-circle-o-notch fa-spin" ng-show="vm.cancelingEmail"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm btn-email resend" ng-disabled="vm.resendingEmail" ng-hide="vm.cancelingEmail" ng-click="vm.resendEmail()">
                            <span ng-hide="vm.resendingEmail"> <span class="fa fa-mail-forward"></span> <b>{{vm.appProps.lbl_ReSnd}}</b></span>
                            <span class="fa fa-circle-o-notch fa-spin" ng-show="vm.resendingEmail"></span>
                        </button>
                    </span>
                </div>
                <input type="email" class="form-control" name="email" ng-model="vm.profile.email" ng-hide="vm.profile.emailLocked || vm.profile.emailToVal" />
                <span class="text-warning" ng-show="userProfileForm.email.$touched && userProfileForm.email.$invalid">{{vm.appProps.erMsg_InvldEmail}}</span>
            </div>

            <div class="form-group">
                <label class="findme-color-fc-dark" for="userName">{{vm.appProps.lbl_Usrnm}}</label>
                <input type="text" class="form-control" name="userName" ng-model="vm.profile.userName" />
            </div>

            <br />

            <div class="form-group" ng-init="vm.initPasswordFrm(vm.password)">
                <div uib-collapse="vm.hidePassword" expanded="vm.passwordReady($event)">
                    <div class="form-group">
                        <label class="findme-color-fc-dark" for="oldPassword">{{vm.appProps.lbl_OldPasswrd}}</label>
                        <input type="password" class="form-control" name="oldPassword"
                               ng-model="vm.password.oldPassword" ng-focus="vm.password.formVal.oldPassword.touched()"
                               ng-keypress="vm.changePasswordKeypressed($event, vm.password)"/>
                        <p ng-show="!vm.password.formVal.oldPassword.isReqValid() && vm.password.formVal.oldPassword.isTouched" class="help-block">{{vm.appProps.msg_FldReq}}</p>
                    </div>
                    <div class="form-group">
                        <label class="findme-color-fc-dark" for="newPassword">{{vm.appProps.lbl_NewPasswrd}}</label>
                        <input type="password" class="form-control" name="newPassword"
                               ng-model="vm.password.newPassword" ng-focus="vm.password.formVal.newPassword.touched()"
                               ng-keypress="vm.changePasswordKeypressed($event, vm.password)"/>
                        <p ng-show="!vm.password.formVal.newPassword.isReqValid() && vm.password.formVal.newPassword.isTouched" class="help-block">{{vm.appProps.msg_FldReq}}</p>
                    </div>
                    <div class="form-group">
                        <label class="findme-color-fc-dark" for="cnfrmPassword">{{vm.appProps.lbl_CnfrmPasswrd}}</label>
                        <input type="password" class="form-control" name="cnfrmPassword"
                               ng-model="vm.password.cnfrmPassword" ng-focus="vm.password.formVal.cnfrmPassword.touched()"
                               ng-keypress="vm.changePasswordKeypressed($event, vm.password)"/>
                        <p ng-show="!vm.password.formVal.cnfrmPassword.isEqualToNewPassword()" class="help-block">
                            {{vm.appProps.erMsg_CnfrmPsswrd.replace('{0}', vm.appProps.lbl_NewPasswrd)}}
                        </p>
                    </div>
                </div>

                <button type="button" class="btn btn-findme" ng-click="vm.changePasswordClick(vm.password)" ng-disabled="!vm.hidePassword && !vm.password.formVal.isValid()">
                    {{vm.hidePassword ? vm.appProps.lbl_ChngPasswrd : vm.appProps.lbl_SavePasswrd}}
                </button>
            </div>

        </div>


        <div class="col-md-6 col-sm-12">

            <div class="form-group">
                <label class="findme-color-fc-dark" for="fName">{{vm.appProps.lbl_FName}}</label>
                <input type="text" class="form-control" name="fName" ng-model="vm.profile.fName" />
            </div>

            <div class="form-group">
                <label class="findme-color-fc-dark" for="lName">{{vm.appProps.lbl_LName}}</label>
                <input type="text" class="form-control" name="lName" ng-model="vm.profile.lName" />
            </div>

            <div class="form-group">
                <label class="findme-color-fc-dark" for="contactNumber">{{vm.appProps.lbl_CntctNm}}</label>
                <input type="text" class="form-control" name="contactNumber" ng-model="vm.profile.contactNumber" />
            </div>

        </div>

    </form>

</div>