body {
    font-size: 14px !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

#renderBody {
    padding: 14px 0 0 0;
}

.show-on-load {
    opacity: 0;
}

#logo {
    display: inline;
    margin-top: -10px;
}

.row {
    margin: 0 !important;
}

#topbar {
    border-width: 0;
}

    #topbar .navbar-brand i {
        font-size: 18px;
    }

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #C00C48 !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: white;
    color: #424242;
}


.btn {
    text-transform: none !important;
}

    .btn.btn-findme {
        background-color: #E20E53 !important;
        color: white !important;
        border: solid 0.5px #E20E53;
        transition: background-color color ease-in 200ms;
    }

        .btn.btn-findme.hollow {
            background-color: white !important;
            color: #E20E53 !important;
            border: solid 0.5px #E20E53;
            transition: background-color color ease-in 200ms;
        }

        .btn.btn-findme:active {
            background-color: #C00C48 !important;
        }

        .btn.btn-findme:hover {
            border: solid 0.5px #FFCC00;
            color: white !important;
            background-color: #FFCC00 !important;
            transition: border background-color color ease-in 200ms;
        }

.modal .btn.btn-findme {
    min-width: 150px;
}



input,
select,
textarea {
    max-width: 280px;
}

.cursor-pointer {
    cursor: pointer;
}



.navbar-toggle.btn-user {
    padding: 0;
}


.findme-lbl {
    color: #1a1a1a;
    /*border: 1px solid black;*/
    font-size: 16px;
    border-radius: 5px;
    padding: 2px 8px;
    min-width: 280px;
    -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0,0.3);
    -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0,0.3);
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0,0.3);
}

    .findme-lbl.pink {
        background-color: #E20E53;
        color: #EDF1F8;
    }

.crsr-pointer {
    cursor: pointer;
}


.modal-container .modal {
    z-index: 1320 !important;
}

.modal-container .modal-backdrop {
    z-index: 1310 !important;
}

.table.data tr.inEditMode {
    background-color: #e5fff9;
}

.inline-element {
    display: inline;
}
