<div id="bulkimportVw">
    <form id="csv-form" method="post" enctype="multipart/form-data">

        <button type="button" class="btn btn-bs-file btn-lg btn-findme" ng-disabled="vm.addrFilename" ng-click="vm.browseGo('addrCSV')">
            {{vm.appProps.lbl_BrowseCsvAddrFile}}
        </button>
        <input type="file" id="addrCSV" name="addrCSV" class="hidden" />

        <span class="findme-color-fc-dark"><b>{{vm.addrFilename}}</b></span>


        <button type="button" class="btn btn-bs-file btn-lg btn-findme" ng-disabled="vm.timeFilename" ng-click="vm.browseGo('timeCSV')">
            {{vm.appProps.lbl_BrowseCsvTimeFile}}
        </button>
        <input type="file" id="timeCSV" name="timeCSV" class="hidden" />

        <span class="findme-color-fc-dark"><b>{{vm.timeFilename}}</b></span>


        <button class="btn btn-lg btn-default no-animate" type="button"
                ng-show="vm.showUpload" ng-disabled="!vm.addrFilename"
                ng-click="vm.uploadCSvForm()">
            {{vm.appProps.lbl_Check}}
        </button>

        <button class="btn btn-lg btn-default no-animate" type="button" ng-show="vm.addrFilename || vm.timeFilename" ng-click="vm.clearForm()">
            {{vm.appProps.lbl_Clear}}
        </button>
    </form>
    <br />



    <div ng-show="vm.catExist == false">
        <span><b>{{vm.categoryCount}} error(s)</b></span>
        <button data-toggle="collapse" data-target="#dbErros" class="btn btn-danger">View</button>
    </div>

    <div ng-show="vm.catExist == true && vm.subCatExist == false">
        <span><b>{{vm.subCategoryCount}} error(s)</b></span>
        <button data-toggle="collapse" data-target="#dbErros" class="btn btn-danger">View</button>
    </div>

    <div id="dbErros" class="collapse">
        <br />
        <div ng-show="vm.catExist == false" class="catErrors" ng-repeat="cat in vm.categories">
            The Category <b>"{{cat.name}}"</b> does not exist in the database.
            <ul>
                <li ng-repeat="subCat in vm.subCategories">The Sub Category <b>"{{subCat.name}}"</b> does not exist in the database.</li>
            </ul>
            <!--<button class="btn btn-sm btn-success">
                <i class="fa fa-plus"></i>
            </button>-->
        </div>

        <div ng-show="vm.catExist == true && vm.subCatExist == false" class="catErrors" ng-repeat="subCat in vm.subCategories">
            The Sub Category <b>"{{subCat.name}}"</b> does not exist in the database.
            <button class="btn btn-sm btn-success">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>


    <br />

    <div id="csv" class="no-animate" ng-show="vm.showTable == true">
        <div class="no-animate" ng-class="vm.errorCount > 0 || vm.errormsg != '' ? 'panel panel-danger' : 'panel panel-success'">
            <div ng-show="vm.errorCount > 0" class="panel-heading no-animate">
                <span><b>{{vm.errorCount}} {{vm.appProps.lbl_Errors}}</b></span>
                <button class="btn btn-danger btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAllErrors()">{{vm.appProps.lbl_VwError}}</button>
                <button class="btn btn-success btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAllSuccess()">{{vm.appProps.lbl_VwSuccess}}</button>
                <button class="btn btn-default btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAll()">{{vm.appProps.lbl_VwAll}}</button>

            </div>
            <div ng-show="vm.errorCount == 0 && errormsg =='' " class="panel-heading no-animate">
                <span><b>{{vm.appProps.lbl_NoError}}</b></span>
            </div>

            <div ng-show="vm.errormsg != ''" class="panel-heading no-animate">
                <span><b>{{vm.appProps.lbl_ErrorsMsg}} {{vm.errormsg}}</b></span>
            </div>
        </div>
        <div class="table-responsive">
            <table id="csv-table" class="table table-fixed-header table-striped">
                <thead class='header'>
                    <tr>
                        <th></th>
                        <th class="no-animate" ng-repeat="header in vm.tableHeaders" ng-show="header !== 'errorMessage'"><b>{{header}}</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="address in vm.csvItems" ng-class="address.errorMessage == null ? 'success' : 'error' ">
                        <td>
                            <div ng-if="!address.errorMessage" ng-hide="!address._DaysCsv || address._DaysCsv.length === 0">
                                <button type="button" class="btn btn-sm btn-findme" style="width: 32px; height: 32px; border-radius: 50%; outline: none;"
                                        ng-click="address.showHrs = !address.showHrs"
                                        title="{{(address.showHrs ? vm.appProps.msg_HideHrs : vm.appProps.msg_ShwHrs)}}">
                                    <span class="fa" ng-class="address.showHrs ? 'fa-minus' : 'fa-plus'"></span>
                                </button>
                            </div>
                        </td>
                        <td class="no-animate" ng-if="!address.errorMessage" ng-repeat="header in vm.tableHeaders" ng-show="header !== 'errorMessage'">
                            <div>
                                {{address[header]}}
                            </div>
                        </td>
                        <td ng-if="address.errorMessage">
                            <div>
                                {{address.addressUUID}}
                            </div>
                        </td>
                        <td ng-if="address.errorMessage" colspan="{{vm.tableHeaders.length - 1}}">
                            <div>
                                {{address.errorMessage}}
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="address._DaysCsv && address._DaysCsv.length > 0" ng-repeat-end uib-collapse="!address.showHrs">
                        <td></td>
                        <td colspan="{{vm.tableHeaders.length}}">
                            <table class="table table-fixed-header table-striped" ng-repeat="day in address._DaysCsv" style="max-width: 450px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-4"><b>{{day.name}}</b></th>
                                        <th class="col-md-4"><b>{{vm.appProps.lbl_From}}</b></th>
                                        <th class="col-md-4"><b>{{vm.appProps.lbl_To}}</b></th>
                                    </tr>
                                </thead>
                                <tbody ng-if="day.values && day.values.length > 0">
                                    <tr ng-repeat="rng in day.values">
                                        <td></td>
                                        <td ng-if="!rng.errorMessage">{{(rng.hourFrom > 9? rng.hourFrom : ('0' + rng.hourFrom))}}&nbsp;<b>:</b>&nbsp;{{(rng.minFrom > 9? rng.minFrom : ('0' + rng.minFrom))}}</td>
                                        <td ng-if="!rng.errorMessage">{{(rng.hourTo > 9? rng.hourTo : ('0' + rng.hourTo))}}&nbsp;<b>:</b>&nbsp;{{(rng.minTo > 9? rng.minTo : ('0' + rng.minTo))}}</td>
                                        <td ng-if="rng.errorMessage" colspan="2">
                                            <p>{{rng.errorMessage}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <a href="" class="btn btn-dark btn-small" ng-click="vm.download(vm.log.text)">
                Download Log
            </a>
        </div>
    </div>
</div>