<div id="bulkimportVw">

    <script type="text/ng-template" id="createCategoryModal.html">
        <div class="modal-header">

            <div>
                <h3 class="findme-color-fc-pink">Create Category: {{vm.category.name}}</h3>
            </div>

        </div>
        <div class="modal-body" id="modal-body">

            <div class="row" ng-show="vm.category.parentUID && vm.category.parentName">
                <h4>Parent Category: &nbsp;<span class="findme-color-fc-pink">{{vm.category.parentName}}</span></h4>
            </div>
            <br />

            <form name="vm.frmCreateCatg" novalidate ng-submit="vm.save()">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Name EN</b>
                        <input type="text" class="form-control" name="name_en" required
                               placeholder="{{vm.appProps.lbl_Name}}" ng-model="vm.category.name_en">
                        <p ng-show="vm.frmCreateCatg.name_en.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Name FR</b>
                        <input type="text" class="form-control" name="name_fr" required
                               placeholder="{{vm.appProps.lbl_Name}}" ng-model="vm.category.name_fr">
                        <p ng-show="vm.frmCreateCatg.name_fr.$invalid" class="help-block">**Required</p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug EN</b>
                        <input type="text" class="form-control" name="slug_en" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.category.slug_en">
                        <p ng-show="vm.frmCreateCatg.slug_en.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug FR</b>
                        <input type="text" class="form-control" name="slug_fr" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.category.slug_fr">
                        <p ng-show="vm.frmCreateCatg.slug_fr.$invalid" class="help-block">**Required</p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>{{vm.appProps.lbl_Icon}}</b>&nbsp;<span class="findme-color-fc-pink" ng-class="vm.category.iconClass ? ('fa ' + vm.category.iconClass + ' fa-2x') : ''"></span>
                        <input ng-if="!vm.category.parentUID" type="text" class="form-control" name="iconClass" required
                               placeholder="{{vm.appProps.lbl_Icon}}" ng-model="vm.category.iconClass">
                        <p ng-if="!vm.category.parentUID" ng-show="vm.frmCreateCatg.iconClass.$invalid" class="help-block">**Required</p>
                        <input ng-if="vm.category.parentUID" type="text" class="form-control"
                               placeholder="{{vm.appProps.lbl_Icon}}" ng-model="vm.category.iconClass">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Description EN</b>
                        <textarea type="text" class="form-control" maxlength="512"
                                  placeholder="{{vm.appProps.lbl_Desc}}" ng-model="vm.category.desc_en"></textarea>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Description FR</b>
                        <textarea type="text" class="form-control" maxlength="512"
                                  placeholder="{{vm.appProps.lbl_Desc}}" ng-model="vm.category.desc_fr"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-findme" type="submit" ng-disabled="vm.frmCreateCatg.$invalid">
                        <b>{{vm.appProps.lbl_Save}}</b>
                    </button>
                    <button class="btn btn-findme hollow" type="button" ng-click="vm.cancel()">
                        <b>{{vm.appProps.lbl_Cancel}}</b>
                    </button>
                </div>
            </form>
        </div>

    </script>

    <script type="text/ng-template" id="createTagModal.html">
        <div class="modal-header">

            <div>
                <h3 class="findme-color-fc-pink">Create Keyword: {{vm.tag.name}}</h3>
            </div>

        </div>
        <div class="modal-body" id="modal-body">

            <form name="vm.frmCreateTag" novalidate ng-submit="vm.save()">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Name EN</b>
                        <input type="text" class="form-control" name="name_en" required
                               placeholder="{{vm.appProps.lbl_Name}}" ng-model="vm.tag.name_en">
                        <p ng-show="vm.frmCreateTag.name_en.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Name FR</b>
                        <input type="text" class="form-control" name="name_fr" required
                               placeholder="{{vm.appProps.lbl_Name}}" ng-model="vm.tag.name_fr">
                        <p ng-show="vm.frmCreateTag.name_fr.$invalid" class="help-block">**Required</p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug EN</b>
                        <input type="text" class="form-control" name="slug_en" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.tag.slug_en">
                        <p ng-show="vm.frmCreateTag.slug_en.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug FR</b>
                        <input type="text" class="form-control" name="slug_fr" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.tag.slug_fr">
                        <p ng-show="vm.frmCreateTag.slug_fr.$invalid" class="help-block">**Required</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-findme" type="submit" ng-disabled="vm.frmCreateTag.$invalid">
                        <b>{{vm.appProps.lbl_Save}}</b>
                    </button>
                    <button class="btn btn-findme hollow" type="button" ng-click="vm.cancel()">
                        <b>{{vm.appProps.lbl_Cancel}}</b>
                    </button>
                </div>
            </form>
        </div>

    </script>

    <script type="text/ng-template" id="createCityDetailModal.html">
        <div class="modal-header">

            <div>
                <h3 class="findme-color-fc-pink">Create City: {{vm.cityDetail.name}}</h3>
            </div>

        </div>
        <div class="modal-body" id="modal-body">

            <form name="vm.frmCreateTag" novalidate ng-submit="vm.save()">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>{{vm.appProps.lbl_Name}}</b>
                        <input type="text" class="form-control" name="name" required
                               placeholder="{{vm.appProps.lbl_Name}}" ng-model="vm.cityDetail.name">
                        <p ng-show="vm.frmCreateTag.name.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>{{vm.appProps.lbl_Slug}}</b>
                        <input type="text" class="form-control" name="slug" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.cityDetail.slug">
                        <p ng-show="vm.frmCreateTag.slug.$invalid" class="help-block">**Required</p>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug EN</b>
                        <input type="text" class="form-control" name="slug_en" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.cityDetail.slug_en">
                        <p ng-show="vm.frmCreateTag.slug_en.$invalid" class="help-block">**Required</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <b>Slug FR</b>
                        <input type="text" class="form-control" name="slug_fr" required
                               placeholder="{{vm.appProps.lbl_Slug}}" ng-model="vm.cityDetail.slug_fr">
                        <p ng-show="vm.frmCreateTag.slug_fr.$invalid" class="help-block">**Required</p>
                    </div>
                </div>-->

                <div class="modal-footer">
                    <button class="btn btn-findme" type="submit" ng-disabled="vm.frmCreateTag.$invalid">
                        <b>{{vm.appProps.lbl_Save}}</b>
                    </button>
                    <button class="btn btn-findme hollow" type="button" ng-click="vm.cancel()">
                        <b>{{vm.appProps.lbl_Cancel}}</b>
                    </button>
                </div>
            </form>
        </div>

    </script>


    <form id="csv-form" method="post" enctype="multipart/form-data">

        <button type="button" class="btn btn-bs-file btn-lg btn-findme" ng-disabled="vm.addrFilename || (vm.csvItems && vm.csvItems.length > 0)" ng-click="vm.browseGo('addrCSV')">
            {{vm.appProps.lbl_BrowseCsvAddrFile}}
        </button>
        <input type="file" id="addrCSV" name="addrCSV" class="hidden" />

        <span class="findme-color-fc-dark"><b>{{vm.addrFilename}}</b></span>


        <button type="button" class="btn btn-bs-file btn-lg btn-findme" ng-disabled="vm.timeFilename || (vm.csvItems && vm.csvItems.length > 0)" ng-click="vm.browseGo('timeCSV')">
            {{vm.appProps.lbl_BrowseCsvTimeFile}}
        </button>
        <input type="file" id="timeCSV" name="timeCSV" class="hidden" />

        <span class="findme-color-fc-dark"><b>{{vm.timeFilename}}</b></span>


        <button class="btn btn-lg btn-default no-animate" type="button"
                ng-show="vm.showUpload" ng-disabled="!vm.addrFilename"
                ng-click="vm.uploadCSvForm()">
            {{vm.appProps.lbl_Check}}
        </button>

        <button class="btn btn-lg btn-default no-animate" type="button" ng-show="vm.addrFilename || vm.timeFilename" ng-click="vm.clearForm()">
            {{vm.appProps.lbl_Clear}}
        </button>

        <div class="pull-right">
            <a href="" class="btn btn-lg btn-danger" ng-click="vm.download(vm.log.text)" ng-hide="vm.log.text == ''">
                Download Log
            </a>
        </div>
    </form>

    <br />

    <div class="panel panel-danger" ng-show="vm.categories && vm.categories.length > 0">
        <div class="panel-heading">
            <span><b>{{vm.categoryErrorsCount}} Categories Database Validation Error(s)</b></span>
            <button data-toggle="collapse" class="btn btn-sm btn-danger pull-right" ng-click="vm.showCatgDbValErrors = !vm.showCatgDbValErrors">{{vm.showCatgDbValErrors ? 'Hide' : 'View Error(s)'}}</button>
        </div>
    </div>

    <div uib-collapse="!vm.showCatgDbValErrors">
        <div ng-show="vm.categories && vm.categories.length > 0" class="catErrors" ng-repeat="cat in vm.categories">

            <span class="fa crsr-pointer findme-color-fc-pink"
                  ng-show="cat.subCategories && cat.subCategories.length > 0"
                  ng-class="cat.showSubCatgs ? 'fa-minus' : 'fa-plus'"
                  ng-click="cat.showSubCatgs = !cat.showSubCatgs">
                &nbsp;
            </span>
            <b class="findme-color-fc-pink">({{cat.subCategories.length}} Sub-Categories)</b>
            &nbsp;The Category <b>"{{cat.name}}"</b> {{(cat.foundInDb ? 'is VALID!' : 'does not exist in the database.')}}&nbsp;
            <span class="fa" ng-class="cat.foundInDb ? 'fa-check text-success' : 'fa-times text-danger'"></span>

            <button class="btn btn-sm btn-success" ng-click="vm.createCatgModal(cat)" ng-hide="cat.foundInDb">
                <b>Create !</b>
            </button>

            <div uib-collapse="!cat.showSubCatgs">
                <ul>
                    <li ng-repeat="subCat in cat.subCategories">
                        <button class="btn btn-sm btn-success" ng-show="cat.foundInDb && !subCat.foundInDb" ng-click="vm.createCatgModal(subCat)">
                            <b>Create !</b>
                        </button>
                        &nbsp;The Sub Category <b>"{{subCat.name}}"</b> {{(subCat.foundInDb ? 'is VALID!' : 'does not exist in the database.')}}&nbsp;
                        <span class="fa" ng-class="subCat.foundInDb ? 'fa-check text-success' : 'fa-times text-danger'"></span>
                    </li>
                </ul>
            </div>
        </div>
        <br />
    </div>


    <div class="panel panel-danger" ng-show="vm.tags && vm.tags.length > 0">
        <div class="panel-heading">
            <span><b>{{vm.tagErrorsCount}} Keywords Database Validation Error(s)</b></span>
            <button data-toggle="collapse" class="btn btn-sm btn-danger pull-right" ng-click="vm.showTagDbValErrors = !vm.showTagDbValErrors">{{vm.showTagDbValErrors ? 'Hide' : 'View Error(s)'}}</button>
        </div>
    </div>

    <div uib-collapse="!vm.showTagDbValErrors">
        <div class="catErrors" ng-repeat="tag in vm.tags" ng-show="vm.tags && vm.tags.length > 0 && !tag.foundInDb">

            <button class="btn btn-sm btn-success" ng-click="vm.createTagModal(tag)" ng-hide="tag.foundInDb">
                <b>Create !</b>
            </button>

            &nbsp;The Keyword <b>"{{tag.name}}"</b> {{(tag.foundInDb ? 'is VALID!' : 'does not exist in the database.')}}&nbsp;
            <span class="fa" ng-class="tag.foundInDb ? 'fa-check text-success' : 'fa-times text-danger'"></span>

        </div>
        <br />
    </div>


    <div class="panel panel-danger" ng-show="vm.cityDetails && vm.cityDetails.length > 0">
        <div class="panel-heading">
            <span><b>{{vm.cityDetailErrorsCount}} Cities Database Validation Error(s)</b></span>
            <button data-toggle="collapse" class="btn btn-sm btn-danger pull-right" ng-click="vm.showCityDetailDbValErrors = !vm.showCityDetailDbValErrors">{{vm.showCityDetailDbValErrors ? 'Hide' : 'View Error(s)'}}</button>
        </div>
    </div>

    <div uib-collapse="!vm.showCityDetailDbValErrors">
        <div class="catErrors" ng-repeat="city in vm.cityDetails" ng-show="vm.cityDetails && vm.cityDetails.length > 0 && !city.foundInDb">

            <button class="btn btn-sm btn-success" ng-click="vm.createCityDetailModal(city)" ng-hide="city.foundInDb">
                <b>Create !</b>
            </button>

            &nbsp;The City <b>"{{city.name}}"</b> {{(city.foundInDb ? 'is VALID!' : 'does not exist in the database.')}}&nbsp;
            <span class="fa" ng-class="city.foundInDb ? 'fa-check text-success' : 'fa-times text-danger'"></span>

        </div>
        <br />
    </div>


    <br />

    <div id="csv" class="no-animate" ng-show="vm.showTable">
        <div class="no-animate" ng-class="vm.errorCount > 0 || vm.errormsg != '' ? 'panel panel-danger' : 'panel panel-success'">
            <div ng-show="vm.errorCount > 0" class="panel-heading no-animate">
                <span><b>{{vm.errorCount}} CSV Validation Error(s)</b></span>
                <button class="btn btn-danger btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAllErrors()">{{vm.appProps.lbl_VwError}}</button>
                <button class="btn btn-success btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAllSuccess()">{{vm.appProps.lbl_VwSuccess}}</button>
                <button class="btn btn-default btn-sm pull-right no-animate" ng-show="vm.hasSuccess == true" ng-click="vm.showAll()">{{vm.appProps.lbl_VwAll}}</button>

            </div>
            <div ng-show="vm.errorCount == 0 && errormsg =='' " class="panel-heading no-animate">
                <span><b>{{vm.appProps.lbl_NoError}}</b></span>
            </div>

            <div ng-show="vm.errormsg != ''" class="panel-heading no-animate">
                <span><b>{{vm.appProps.lbl_ErrorsMsg}} {{vm.errormsg}}</b></span>
            </div>
        </div>
        <div class="table-responsive">
            <table id="csv-table" class="table table-fixed-header table-striped">
                <thead class='header'>
                    <tr>
                        <th></th>
                        <th class="no-animate" ng-repeat="header in vm.tableHeaders" ng-show="header !== 'errorMessage'"><b>{{header}}</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="address in vm.csvItems" ng-class="address.errorMessage == null ? 'success' : 'error' ">
                        <td>
                            <div ng-if="!address.errorMessage" ng-hide="!address._DaysCsv || address._DaysCsv.length === 0">
                                <button type="button" class="btn btn-sm btn-findme" style="width: 32px; height: 32px; border-radius: 50%; outline: none;"
                                        ng-click="address.showHrs = !address.showHrs"
                                        title="{{(address.showHrs ? vm.appProps.msg_HideHrs : vm.appProps.msg_ShwHrs)}}">
                                    <span class="fa" ng-class="address.showHrs ? 'fa-minus' : 'fa-plus'"></span>
                                </button>
                            </div>
                        </td>
                        <td class="no-animate" ng-if="!address.errorMessage" ng-repeat="header in vm.tableHeaders" ng-show="header !== 'errorMessage'">
                            <div>
                                {{address[header]}}
                            </div>
                        </td>
                        <td ng-if="address.errorMessage">
                            <div>
                                {{address.addressUUID}}
                            </div>
                        </td>
                        <td ng-if="address.errorMessage" colspan="{{vm.tableHeaders.length - 1}}">
                            <div>
                                {{address.errorMessage}}
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="address._DaysCsv && address._DaysCsv.length > 0" ng-repeat-end>
                        <!--uib-collapse="!address.showHrs">-->
                        <td></td>
                        <td colspan="{{vm.tableHeaders.length}}">
                            <div uib-collapse="!address.showHrs">
                                <table class="table table-fixed-header table-striped" ng-repeat="day in address._DaysCsv" style="max-width: 450px;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4"><b>{{day.name}}</b></th>
                                            <th class="col-md-4"><b>{{vm.appProps.lbl_From}}</b></th>
                                            <th class="col-md-4"><b>{{vm.appProps.lbl_To}}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-if="day.values && day.values.length > 0">
                                        <tr ng-repeat="rng in day.values">
                                            <td></td>
                                            <td ng-if="!rng.errorMessage">{{(rng.hourFrom > 9? rng.hourFrom : ('0' + rng.hourFrom))}}&nbsp;<b>:</b>&nbsp;{{(rng.minFrom > 9? rng.minFrom : ('0' + rng.minFrom))}}</td>
                                            <td ng-if="!rng.errorMessage">{{(rng.hourTo > 9? rng.hourTo : ('0' + rng.hourTo))}}&nbsp;<b>:</b>&nbsp;{{(rng.minTo > 9? rng.minTo : ('0' + rng.minTo))}}</td>
                                            <td ng-if="rng.errorMessage" colspan="2">
                                                <p>{{rng.errorMessage}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="modal-container"></div>
</div>