

<div id="categorysVw">

    <script type="text/ng-template" id="deleteCategoryModal.html">
        <div class="modal-header">

            <div>
                <h3 class="findme-color-fc-pink">{{vm.appProps.lbl_Delete}} {{(vm.category.legalName || vm.category.dispName ? (vm.category.legalName ? vm.category.legalName : vm.category.dispName) : 'New Category')}}?</h3>
            </div>

        </div>
        <div class="modal-body" id="modal-body">
        </div>

        <div class="modal-footer">
            <button class="btn btn-findme" type="button" ng-click="vm.yes()">
                <b>{{vm.appProps.lbl_Yes}}</b>
            </button>
            <button class="btn btn-findme hollow" type="button" ng-click="vm.no()">
                <b>{{vm.appProps.lbl_No}}</b>
            </button>
        </div>
    </script>

    <div uib-collapse="!vm.showError" style="padding: 20px;">

        <div uib-alert class="alert alert-danger" close="vm.showError = false;">
            <h4>
                {{vm.errorstatus}}
            </h4>
            <p>
                {{vm.errormsg}}
            </p>
        </div>
    </div>


    <div ng-show="vm.parentIdFilter > 0" class="parent-panel findme-color-fc-pink no-animate">
        <button type="button" class="btn btn-findme" title="{{vm.appProps.lbl_Back}}" ng-click="vm.clearParentFilters()"><span class="fa fa-chevron-left"></span></button>
        <b>{{vm.parentNameFilter}}</b>&nbsp;<span class="fa fa-arrow-right"></span>&nbsp;<b>{{vm.appProps.lbl_SbCatgs}}</b>
        <br />
        <br />
    </div>


    <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.isBusy">
        <tr>
            <td class="findme-color-fc-pink">
                <span>{{vm.appProps.lbl_Pg}}: {{vm.currentPgNmbr + 1}} {{vm.appProps.lbl_of}} {{vm.totalPgs}}</span>
                &nbsp;&nbsp;<b>{{vm.appProps.lbl_TtlClnts}}: {{vm.categorysCount}}</b>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="pagination">

                    <li ng-repeat="pg in vm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                        <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.gotoPage(pg, true)">
                            <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>


    <div class="main-table-container">
        <table class="table table-striped table-hover data" ng-init="vm.populateCategorys()">
            <thead>
                <tr>
                    <td class="col-md-2">
                        <b>{{vm.appProps.lbl_Actns}}</b>
                    </td>
                    <td class="col-md-1">
                        <b>{{vm.appProps.lbl_ID}}</b>
                    </td>
                    <td class="col-md-2">
                        <b>{{vm.appProps.lbl_Icon}}</b>
                    </td>
                    <td class="col-md-2">
                        <b>{{vm.appProps.lbl_Name}}</b>
                    </td>
                    <td class="col-md-2">
                        <b>{{vm.appProps.lbl_Slug}}</b>
                    </td>
                    <td class="col-md-4">
                        <b>{{vm.appProps.lbl_Desc}}</b>
                    </td>
                    <td class="text-center col-md-1">
                        <b>{{vm.appProps.lbl_Actv}}</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categorys" ng-class="category.inEditMode ? 'inEditMode' : ''">
                    <td>
                        <div class="btn-toolbar">

                            <button type="button" class="btn btn-findme action no-animate"
                                    title="{{vm.appProps.lbl_Edit}}" ng-click="vm.goInEditMode($event, category)" ng-hide="category.inEditMode">
                                <span class="fa fa-edit"></span>
                            </button>
                            <button type="button" class="btn btn-findme hollow action no-animate"
                                    title="{{vm.appProps.lbl_Delete}}" ng-click="vm.deleteModal(category)" ng-hide="category.inEditMode">
                                <span class="fa fa-trash"></span>
                            </button>

                            <button type="button" class="btn btn-findme action no-animate"
                                    title="{{vm.appProps.lbl_Save}}" ng-click="vm.save(category)" ng-show="category.inEditMode && !category.saving">
                                <span class="fa fa-save"></span>
                            </button>
                            <button type="button" class="btn btn-findme hollow action no-animate"
                                    title="{{vm.appProps.lbl_Cancel}}" ng-click="vm.revert(category)" ng-show="category.inEditMode && !category.saving">
                                <span class="fa fa-times-circle-o"></span>
                            </button>

                            <button ng-show="category.id > 0 && category.level == 0 && !category.saving && !category.inEditMode" type="button" class="btn btn-findme action inline-element no-animate" style="margin-left: 20px;"
                                    title="{{vm.appProps.lbl_ShwSbCatgs}}" ng-click="vm.setParentCatg(category)">
                                <span class="fa fa-arrow-right"></span>
                            </button>

                        </div>


                        <div ng-show="category.inEditMode && category.saving" class="fa fa-spinner fa-spin fa-2x findme-color-fc-pink no-animate"></div>

                    </td>
                    <td>
                        <b ng-show="category.id > 0" class="no-animate">{{category.id}}</b>
                    </td>
                    <td>
                        <span ng-hide="category.inEditMode" class="no-animate">{{category.iconClass}}</span>
                        <input ng-disabled="category.saving" ng-show="category.inEditMode" placeholder="{{vm.appProps.lbl_Icon}}" type="text" class="form-control no-animate" ng-model="category.iconClass">
                    </td>
                    <td>
                        <b>EN:&nbsp;</b>
                        <span ng-hide="category.inEditMode" class="no-animate">{{category.name_en}}</span>
                        <input ng-disabled="category.saving" ng-show="category.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="category.name_en">
                        <br />
                        <b>FR:&nbsp;</b>
                        <span ng-hide="category.inEditMode" class="no-animate">{{category.name_fr}}</span>
                        <input ng-disabled="category.saving" ng-show="category.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="category.name_fr">
                    </td>
                    <td>
                        <b>EN:&nbsp;</b>
                        <span ng-hide="category.inEditMode" class="no-animate">{{category.slug_en}}</span>
                        <input ng-disabled="category.saving" ng-show="category.inEditMode" placeholder="{{vm.appProps.lbl_Slug}}" type="text" class="form-control inline-element no-animate" ng-model="category.slug_en">
                        <br />
                        <b>FR:&nbsp;</b>
                        <span ng-hide="category.inEditMode" class="no-animate">{{category.slug_fr}}</span>
                        <input ng-disabled="category.saving" ng-show="category.inEditMode" placeholder="{{vm.appProps.lbl_Slug}}" type="text" class="form-control inline-element no-animate" ng-model="category.slug_fr">
                    </td>
                    <td>
                        <div ng-hide="category.inEditMode" class="no-animate">
                            <b>EN:&nbsp;</b>
                            <span>{{category.desc_en}}</span>
                            <br />
                            <b>FR:&nbsp;</b>
                            <span>{{category.desc_fr}}</span>
                        </div>

                        <div ng-show="category.inEditMode" class="form-horizontal no-animate">
                            <div class="form-group">
                                <label class="control-label col-lg-1 col-md-1"><b>EN:</b></label>
                                <div class="col-lg-11 col-md-11">
                                    <textarea type="text" class="form-control" elastic
                                              ng-disabled="category.saving"
                                              placeholder="{{vm.appProps.lbl_Desc}}" ng-model="category.desc_en" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-1 col-md-1"><b>FR:</b></label>
                                <div class="col-lg-11 col-md-11">
                                    <textarea type="text" class="form-control" elastic
                                              ng-disabled="category.saving"
                                              placeholder="{{vm.appProps.lbl_Desc}}" ng-model="category.desc_fr" />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-hide="category.inEditMode" class="fa {{category.active ? 'fa-check text-success' : 'fa-times text-danger'}} fa-2x no-animate"></span>

                        <span ng-show="category.inEditMode" class="check-box no-animate">
                            <input ng-disabled="category.saving" type="checkbox" value="None" id="categoryActive-{{category.id}}" name="categoryActive-{{category.id}}" ng-model="category.active" />
                            <label class="lbl-chkb" for="categoryActive-{{category.id}}"></label>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.isBusy">
        <tr>
            <td>
                <ul class="pagination">

                    <li ng-repeat="pg in vm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                        <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.gotoPage(pg, true)">
                            <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <div class="modal-container">

    </div>

</div>