

<div id="citiesVw">

    <script type="text/ng-template" id="deleteObjectModal.html">
        <div class="modal-header">

            <div>
                <h3 class="findme-color-fc-pink">{{vm.appProps.lbl_Delete}} {{(vm.targetName)}}?</h3>
            </div>

        </div>
        <div class="modal-body" id="modal-body">
        </div>

        <div class="modal-footer">
            <button class="btn btn-findme" type="button" ng-click="vm.yes()">
                <b>{{vm.appProps.lbl_Yes}}</b>
            </button>
            <button class="btn btn-findme hollow" type="button" ng-click="vm.no()">
                <b>{{vm.appProps.lbl_No}}</b>
            </button>
        </div>
    </script>

    <div uib-collapse="!vm.showError" style="padding: 20px;">

        <div uib-alert class="alert alert-danger" close="vm.showError = false;">
            <h4>
                {{vm.errorstatus}}
            </h4>
            <p>
                {{vm.errormsg}}
            </p>
        </div>
    </div>


    <uib-tabset active="vm.tabIndex">

        <uib-tab index="0">
            <uib-tab-heading>
                <b>{{vm.appProps.lbl_Cities}}</b>
            </uib-tab-heading>

            <div class="cityDetails">

                <div ng-show="vm.cVm.parentFilter.id > 0">
                    <br />
                    <button type="button" class="btn btn-findme" style="border-radius: 50%; width: 45px; height: 45px;" ng-click="vm.clearParentFilter()">
                        <span class="fa fa-times"></span>
                    </button>
                    &nbsp;&nbsp;
                    <h4 class="findme-color-fc-pink inline-element">{{vm.cVm.parentFilter.text}}</h4>

                </div>

                <br />
                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.cVm.isBusy">
                    <tr>
                        <td class="findme-color-fc-pink">
                            <span>{{vm.appProps.lbl_Pg}}: {{vm.cVm.currentPgNmbr + 1}} {{vm.appProps.lbl_of}} {{vm.cVm.totalPgs}}</span>
                            &nbsp;&nbsp;<b>{{vm.appProps.lbl_TtlRows}}: {{vm.cVm.cityDetailsCount + vm.cVm.cityDetailsCountMod}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.cVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.cVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>


                <div class="main-table-container">
                    <table class="table table-striped table-hover data">
                        <thead>
                            <tr>
                                <td class="col-md-3">
                                    <b>{{vm.appProps.lbl_Actns}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_ID}}</b>
                                </td>
                                <td class="col-md-2">
                                    <b>{{vm.appProps.lbl_Name}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Region}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_District}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_CityGroup}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lat}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lon}}</b>
                                </td>
                                <td class="text-center col-md-1">
                                    <b>{{vm.appProps.lbl_Actv}}</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cityDetail in vm.cVm.cityDetails" ng-class="cityDetail.inEditMode ? 'inEditMode' : ''">
                                <td>
                                    <div ng-hide="cityDetail.inEditMode" class="btn-toolbar no-animate">

                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Edit}}" ng-click="cityDetail.inEditMode = true;">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Delete}}" ng-click="vm.cVm.deleteModal(cityDetail)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>
                                    <div ng-show="cityDetail.inEditMode && !cityDetail.saving" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Save}}" ng-click="vm.cVm.save(cityDetail)"><span class="fa fa-save"></span></button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Cancel}}" ng-click="vm.cVm.revert(cityDetail)"><span class="fa fa-times-circle-o"></span></button>
                                    </div>


                                    <div ng-show="cityDetail.inEditMode && cityDetail.saving" class="fa fa-spinner fa-spin fa-2x findme-color-fc-pink no-animate"></div>

                                </td>
                                <td>
                                    <b ng-show="cityDetail.id > 0" class="no-animate">{{cityDetail.id}}</b>
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.name}}</span>
                                    <input ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="cityDetail.name">
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.region.name}}</span>
                                    <select class="form-control"
                                            ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode"
                                            ng-model="cityDetail.region"
                                            ng-options="region.name for region in vm.rVm.regions">
                                    </select>
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.district.name}}</span>
                                    <select class="form-control"
                                            ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode"
                                            ng-model="cityDetail.district"
                                            ng-options="district.name for district in vm.dVm.districts">
                                    </select>
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.group.name}}</span>
                                    <select class="form-control"
                                            ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode"
                                            ng-model="cityDetail.group"
                                            ng-options="cityGroup.name for cityGroup in vm.gVm.cityGroups">
                                    </select>
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.latitude}}</span>
                                    <input ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode" placeholder="{{vm.appProps.lbl_Lat}}" type="text" class="form-control inline-element no-animate" ng-model="cityDetail.latitude">
                                </td>
                                <td>
                                    <span ng-hide="cityDetail.inEditMode" class="no-animate">{{cityDetail.longitude}}</span>
                                    <input ng-disabled="cityDetail.saving" ng-show="cityDetail.inEditMode" placeholder="{{vm.appProps.lbl_Lon}}" type="text" class="form-control inline-element no-animate" ng-model="cityDetail.longitude">
                                </td>
                                <td class="text-center">
                                    <span ng-hide="cityDetail.inEditMode" class="fa {{cityDetail.active ? 'fa-check text-success' : 'fa-times text-danger'}} fa-2x no-animate"></span>

                                    <span ng-show="cityDetail.inEditMode" class="check-box">
                                        <input ng-disabled="cityDetail.saving" type="checkbox" value="None" id="cityDetailActive-{{cityDetail.id}}" name="cityDetailActive-{{cityDetail.id}}" ng-model="cityDetail.active" />
                                        <label class="lbl-chkb" for="cityDetailActive-{{cityDetail.id}}"></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.cVm.isBusy">
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.cVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.cVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>

        </uib-tab>

        <uib-tab index="1">
            <uib-tab-heading>
                <b>{{vm.appProps.lbl_Rgns}}</b>
            </uib-tab-heading>

            <div class="regions">

                <br />
                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.rVm.isBusy">
                    <tr>
                        <td class="findme-color-fc-pink">
                            <span>{{vm.appProps.lbl_Pg}}: {{vm.rVm.currentPgNmbr + 1}} {{vm.appProps.lbl_of}} {{vm.rVm.totalPgs}}</span>
                            &nbsp;&nbsp;<b>{{vm.appProps.lbl_TtlRows}}: {{vm.rVm.regionsCount + vm.rVm.regionsCountMod}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.rVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.rVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>


                <div class="main-table-container">
                    <table class="table table-striped table-hover data">
                        <thead>
                            <tr>
                                <td class="col-md-3">
                                    <b>{{vm.appProps.lbl_Actns}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_ID}}</b>
                                </td>
                                <td class="col-md-7">
                                    <b>{{vm.appProps.lbl_Name}}</b>
                                </td>
                                <td class="text-center col-md-1">
                                    <b>{{vm.appProps.lbl_Actv}}</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="region in vm.rVm.regions" ng-class="region.inEditMode ? 'inEditMode' : ''">
                                <td>
                                    <div ng-hide="region.inEditMode" class="btn-toolbar no-animate">

                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Edit}}" ng-click="region.inEditMode = true;">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Delete}}" ng-click="vm.rVm.deleteModal(region)">
                                            <span class="fa fa-trash"></span>
                                        </button>

                                        <button ng-show="region.id > 0 && !region.saving" type="button" class="btn btn-findme action inline-element no-animate" style="margin-left: 20px;"
                                                title="{{vm.appProps.msg_SHwRgnsCtys}}" ng-click="vm.rVm.filterOnParent(region)">
                                            <span class="fa fa-arrow-right"></span>
                                        </button>
                                    </div>
                                    <div ng-show="region.inEditMode && !region.saving" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Save}}" ng-click="vm.rVm.save(region)"><span class="fa fa-save"></span></button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Cancel}}" ng-click="vm.rVm.revert(region)"><span class="fa fa-times-circle-o"></span></button>
                                    </div>



                                    <div ng-show="region.inEditMode && region.saving" class="fa fa-spinner fa-spin fa-2x findme-color-fc-pink no-animate"></div>

                                </td>
                                <td>
                                    <b ng-show="region.id > 0" class="no-animate">{{region.id}}</b>
                                </td>
                                <td>
                                    <b>EN:&nbsp;</b>
                                    <span ng-hide="region.inEditMode" class="no-animate">{{region.name_en}}</span>
                                    <input ng-disabled="region.saving" ng-show="region.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="region.name_en">
                                    <br />
                                    <b>FR:&nbsp;</b>
                                    <span ng-hide="region.inEditMode" class="no-animate">{{region.name_fr}}</span>
                                    <input ng-disabled="region.saving" ng-show="region.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="region.name_fr">
                                </td>
                                <td class="text-center">
                                    <span ng-hide="region.inEditMode" class="fa {{region.active ? 'fa-check text-success' : 'fa-times text-danger'}} fa-2x no-animate"></span>

                                    <span ng-show="region.inEditMode" class="check-box">
                                        <input ng-disabled="region.saving" type="checkbox" value="None" id="regionActive-{{region.id}}" name="regionActive-{{region.id}}" ng-model="region.active" />
                                        <label class="lbl-chkb" for="regionActive-{{region.id}}"></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.rVm.isBusy">
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.rVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.rVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>

        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <b>{{vm.appProps.lbl_Dstrcts}}</b>
            </uib-tab-heading>

            <div class="districts">

                <br />
                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.dVm.isBusy">
                    <tr>
                        <td class="findme-color-fc-pink">
                            <span>{{vm.appProps.lbl_Pg}}: {{vm.dVm.currentPgNmbr + 1}} {{vm.appProps.lbl_of}} {{vm.dVm.totalPgs}}</span>
                            &nbsp;&nbsp;<b>{{vm.appProps.lbl_TtlRows}}: {{vm.dVm.districtsCount + vm.dVm.districtsCountMod}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.dVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.dVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>


                <div class="main-table-container">
                    <table class="table table-striped table-hover data">
                        <thead>
                            <tr>
                                <td class="col-md-3">
                                    <b>{{vm.appProps.lbl_Actns}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_ID}}</b>
                                </td>
                                <td class="col-md-5">
                                    <b>{{vm.appProps.lbl_Name}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lat}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lon}}</b>
                                </td>
                                <td class="text-center col-md-1">
                                    <b>{{vm.appProps.lbl_Actv}}</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="district in vm.dVm.districts" ng-class="district.inEditMode ? 'inEditMode' : ''">
                                <td>
                                    <div ng-hide="district.inEditMode" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Edit}}" ng-click="district.inEditMode = true;">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Delete}}" ng-click="vm.dVm.deleteModal(district)">
                                            <span class="fa fa-trash"></span>
                                        </button>

                                        <button ng-show="district.id > 0 && !district.saving" type="button" class="btn btn-findme action inline-element no-animate" style="margin-left: 20px;"
                                                title="{{vm.appProps.msg_SHwRgnsCtys}}" ng-click="vm.dVm.filterOnParent(district)">
                                            <span class="fa fa-arrow-right"></span>
                                        </button>
                                    </div>
                                    <div ng-show="district.inEditMode && !district.saving" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Save}}" ng-click="vm.dVm.save(district)"><span class="fa fa-save"></span></button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Cancel}}" ng-click="vm.dVm.revert(district)"><span class="fa fa-times-circle-o"></span></button>
                                    </div>

                                    <div ng-show="district.inEditMode && district.saving" class="fa fa-spinner fa-spin fa-2x findme-color-fc-pink no-animate"></div>

                                </td>
                                <td>
                                    <b ng-show="district.id > 0" class="no-animate">{{district.id}}</b>
                                </td>
                                <td>
                                    <span ng-hide="district.inEditMode" class="no-animate">{{district.name}}</span>
                                    <input ng-disabled="district.saving" ng-show="district.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="district.name">
                                </td>
                                <td>
                                    <span ng-hide="district.inEditMode" class="no-animate">{{district.latitude}}</span>
                                    <input ng-disabled="district.saving" ng-show="district.inEditMode" placeholder="{{vm.appProps.lbl_Lat}}" type="text" class="form-control inline-element no-animate" ng-model="district.latitude">
                                </td>
                                <td>
                                    <span ng-hide="district.inEditMode" class="no-animate">{{district.longitude}}</span>
                                    <input ng-disabled="district.saving" ng-show="district.inEditMode" placeholder="{{vm.appProps.lbl_Lon}}" type="text" class="form-control inline-element no-animate" ng-model="district.longitude">
                                </td>
                                <td class="text-center">
                                    <span ng-hide="district.inEditMode" class="fa {{district.active ? 'fa-check text-success' : 'fa-times text-danger'}} fa-2x no-animate"></span>

                                    <span ng-show="district.inEditMode" class="check-box">
                                        <input ng-disabled="district.saving" type="checkbox" value="None" id="districtActive-{{district.id}}" name="districtActive-{{district.id}}" ng-model="district.active" />
                                        <label class="lbl-chkb" for="districtActive-{{district.id}}"></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.dVm.isBusy">
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.dVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.dVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>

        </uib-tab>

        <uib-tab index="3">
            <uib-tab-heading>
                <b>{{vm.appProps.lbl_Grps}}</b>
            </uib-tab-heading>

            <div class="cityGroups">

                <br />
                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.gVm.isBusy">
                    <tr>
                        <td class="findme-color-fc-pink">
                            <span>{{vm.appProps.lbl_Pg}}: {{vm.gVm.currentPgNmbr + 1}} {{vm.appProps.lbl_of}} {{vm.gVm.totalPgs}}</span>
                            &nbsp;&nbsp;<b>{{vm.appProps.lbl_TtlRows}}: {{vm.gVm.cityGroupsCount + vm.gVm.cityGroupsCountMod}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.gVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.gVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>


                <div class="main-table-container">
                    <table class="table table-striped table-hover data">
                        <thead>
                            <tr>
                                <td class="col-md-3">
                                    <b>{{vm.appProps.lbl_Actns}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_ID}}</b>
                                </td>
                                <td class="col-md-5">
                                    <b>{{vm.appProps.lbl_Name}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lat}}</b>
                                </td>
                                <td class="col-md-1">
                                    <b>{{vm.appProps.lbl_Lon}}</b>
                                </td>
                                <td class="text-center col-md-1">
                                    <b>{{vm.appProps.lbl_Actv}}</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cityGroup in vm.gVm.cityGroups" ng-class="cityGroup.inEditMode ? 'inEditMode' : ''">
                                <td>
                                    <div ng-hide="cityGroup.inEditMode" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Edit}}" ng-click="cityGroup.inEditMode = true;">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Delete}}" ng-click="vm.gVm.deleteModal(cityGroup)">
                                            <span class="fa fa-trash"></span>
                                        </button>

                                        <button ng-show="cityGroup.id > 0 && !cityGroup.saving" type="button" class="btn btn-findme action inline-element no-animate" style="margin-left: 20px;"
                                                title="{{vm.appProps.msg_SHwRgnsCtys}}" ng-click="vm.gVm.filterOnParent(cityGroup)">
                                            <span class="fa fa-arrow-right"></span>
                                        </button>
                                    </div>
                                    <div ng-show="cityGroup.inEditMode && !cityGroup.saving" class="btn-toolbar no-animate">
                                        <button type="button" class="btn btn-findme action" title="{{vm.appProps.lbl_Save}}" ng-click="vm.gVm.save(cityGroup)"><span class="fa fa-save"></span></button>
                                        <button type="button" class="btn btn-findme hollow action" title="{{vm.appProps.lbl_Cancel}}" ng-click="vm.gVm.revert(cityGroup)"><span class="fa fa-times-circle-o"></span></button>
                                    </div>

                                    <div ng-show="cityGroup.inEditMode && cityGroup.saving" class="fa fa-spinner fa-spin fa-2x findme-color-fc-pink no-animate"></div>

                                </td>
                                <td>
                                    <b ng-show="cityGroup.id > 0" class="no-animate">{{cityGroup.id}}</b>
                                </td>
                                <td>
                                    <span ng-hide="cityGroup.inEditMode" class="no-animate">{{cityGroup.name}}</span>
                                    <input ng-disabled="cityGroup.saving" ng-show="cityGroup.inEditMode" placeholder="{{vm.appProps.lbl_Name}}" type="text" class="form-control inline-element no-animate" ng-model="cityGroup.name">
                                </td>
                                <td>
                                    <span ng-hide="cityGroup.inEditMode" class="no-animate">{{cityGroup.latitude}}</span>
                                    <input ng-disabled="cityGroup.saving" ng-show="cityGroup.inEditMode" placeholder="{{vm.appProps.lbl_Lat}}" type="text" class="form-control inline-element no-animate" ng-model="cityGroup.latitude">
                                </td>
                                <td>
                                    <span ng-hide="cityGroup.inEditMode" class="no-animate">{{cityGroup.longitude}}</span>
                                    <input ng-disabled="cityGroup.saving" ng-show="cityGroup.inEditMode" placeholder="{{vm.appProps.lbl_Lon}}" type="text" class="form-control inline-element no-animate" ng-model="cityGroup.longitude">
                                </td>
                                <td class="text-center">
                                    <span ng-hide="cityGroup.inEditMode" class="fa {{cityGroup.active ? 'fa-check text-success' : 'fa-times text-danger'}} fa-2x no-animate"></span>

                                    <span ng-show="cityGroup.inEditMode" class="check-box">
                                        <input ng-disabled="cityGroup.saving" type="checkbox" value="None" id="cityGroupActive-{{cityGroup.id}}" name="cityGroupActive-{{cityGroup.id}}" ng-model="cityGroup.active" />
                                        <label class="lbl-chkb" for="cityGroupActive-{{cityGroup.id}}"></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="pages col-sm-12 col-xs-12 no-animate" ng-hide="vm.gVm.isBusy">
                    <tr>
                        <td>
                            <ul class="pagination">

                                <li ng-repeat="pg in vm.gVm.pgsCollection" ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '') + ' crsr-pointer'">
                                    <a ng-class="(pg.isActive ? 'active' : '') + ' ' + (pg.disabled ? 'disabled' : '')" ng-click="vm.gVm.gotoPage(pg, true)">
                                        <span class="{{pg.icon}} no-animate" ng-show="(pg.icon.length > 0)"></span><span>{{pg.text}}</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>

        </uib-tab>

    </uib-tabset>

    <br />
    <br />
    <br />

    <div class="modal-container">
    </div>

</div>