@{
    ViewBag.Title = "App";
}


@section css {
    <link rel="stylesheet" href="~/css/app/index.css" />
}

@section scripts {

    <script src="~/js/app/index.js"></script>

}


<div>

    <div id="sideBar">

    </div>

</div>
