

.pages {
    margin-left: 0;
}

    .pages .pagination {
        margin: 0;
    }

    .pages .pg-sum {
        font-weight: bold;
        margin-right: 15px;
    }

    .pages .pagination li a {
        color: #E50050;
        border-color: #E50050;
        margin-right: 3px;
        -moz-transition: all ease-in 300ms;
        -o-transition: all ease-in 300ms;
        -webkit-transition: all ease-in 300ms;
        transition: all ease-in 300ms;
        font-weight: bold;
    }

        .pages .pagination li a .fa-step-forward,
        .pages .pagination li a .fa-step-backward {
            margin-top: -1px;
        }

        .pages .pagination li a.active {
            background-color: #e50050;
            border-color: #E50050;
            color: white;
        }

            .pages .pagination li a.active:hover {
                background-color: #e50050;
                border-color: #E50050;
                color: white;
            }

        .pages .pagination li a:not(.active):not(.disabled):hover {
            background-color: rgb(254, 204, 0);
            border-color: rgb(254, 204, 0);
            color: white;
            -moz-transition: all ease-in 200ms;
            -o-transition: all ease-in 200ms;
            -webkit-transition: all ease-in 200ms;
            transition: all ease-in 200ms;
        }

        .pages .pagination li a.disabled {
            color: lightgray;
            border-color: lightgray;
        }
