
#sideBar .sb-icons {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    width: 40px;
    transition: left ease-in 300ms;
}

#sideBar .sb-lbls {
    position: fixed;
    top: 64px;
    left: 40px;
    height: 100%;
    width: 160px;
    transition: left ease-in 300ms;
}

#sideBar ul {
    list-style-type: none;
    padding: 0;
}

    #sideBar ul li {
        cursor: pointer;
        height: 45px;
        width: 100%;
        transition: background-color ease-in-out 250ms;
    }

        #sideBar ul li.active {
            background-color: black;
            transition: background-color ease-in-out 250ms;
        }

        #sideBar ul li a.active {
            color: #FECC00;
            transition: color ease-in-out 250ms;
        }

        #sideBar ul li:hover:not(.active), #sideBar ul li.over:not(.active) { /*, #sideBar ul li a:hover > #sideBar ul li {*/
            background-color: #424242;
        }

        #sideBar ul li a {
            color: white;
            text-decoration: none;
            transition: color ease-in-out 250ms;
        }

            #sideBar ul li a.over {
                color: #FECC00;
            }

#sideBar .sb-lbls ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 10px 0 0 8px;
}

#sideBar .sb-icons ul li a div {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#sideBar .sb-lbls.bs-small-res {
    left: -160px;
    transition: left ease-in 300ms;
}

#sideBar .sb-icons.bs-small-res.hide-lbls {
    left: -40px;
    transition: left ease-in 300ms;
}

#sideBar .sb-lbls.hide-lbls:not(.bs-small-res) {
    left: -160px;
    transition: left ease-in 300ms;
}
