
#wrapper {
    /*width: inherit;*/
    /*height: inherit;*/
    padding-left: 200px;
    transition: padding-left ease-in 300ms;
}

    #wrapper #mainVw {
        padding-top: 60px;
    }

    #wrapper.bs-small-res {
        padding-left: 40px;
        transition: padding-left ease-in 300ms;
    }


        #wrapper.bs-small-res.hide-lbls {
            padding-left: 0;
            transition: padding-left ease-in 300ms;
        }


    #wrapper.hide-lbls:not(.bs-small-res) {
        padding-left: 40px;
        transition: padding-left ease-in 300ms;
    }


    #wrapper .vw-container {
        /*height: inherit;*/
    }


    #wrapper .main-ctrlr {
        padding: 65px 10px 25px 20px;
        /*height: inherit;*/
    }

        #wrapper .main-ctrlr.bs-small-res {
            padding-top: 105px;
        }

        #wrapper .main-ctrlr .title-bar {
            padding: 5px 0 15px 0;
        }
