#addressesVw .main-table-container table.table tr .wait-ctrl-container {
    width: 100%;
    height: 200px;
}

    #addressesVw .main-table-container table.table tr .wait-ctrl-container .wait-ctrl {
        width: 60px;
        height: 60px;
        margin: 30px auto 0 auto;
    }

#addressesVw .modal-editor .modal-dialog {
    width: 70%;
}

    #addressesVw .modal-editor .modal-dialog .modal-content {
        overflow: hidden;
    }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .address-container,
        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .overflow {
            height: auto !important;
            max-height: calc(100vh - 340px) !important;
            overflow-y: auto;
        }

        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .overflow {
            padding: 5px 15px;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .overflow .tags-container {
                background-color: transparent;
            }

        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group {
            padding: 10px 15px 5px 15px;
            margin: 0 25px;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control {
                padding: 3px 35px;
                -webkit-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
                box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
                transition: box-shadow ease-in 200ms;
            }

                #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control.has-focus {
                    -webkit-box-shadow: 0px 0px 5px 1px rgba(78,136,237,0.75);
                    -moz-box-shadow: 0px 0px 5px 1px rgba(78,136,237,0.75);
                    box-shadow: 0px 0px 5px 1px rgba(78,136,237,0.75);
                    transition: box-shadow ease-in 200ms;
                }

                #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control .fa {
                    position: absolute;
                }

                    #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control .fa.fa-search {
                        left: 48px;
                        transform: translateY(2px);
                    }

                    #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control .fa.fa-times {
                        right: 48px;
                        transform: translateY(-28px);
                    }

                #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control input {
                    width: 100%;
                    max-width: none;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }

                    #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control input:active,
                    #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .form-group .form-control input:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .table .img-preview-container {
            position: relative;
            padding-top: 15px;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .table .img-preview-container a.img-preview .grp {
                margin: 22px 0 0 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 60px;
                width: 60px;
                border-radius: 10px;
                overflow: hidden;
                background-color: lightgray;
            }

            #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .table .img-preview-container button.upload {
                margin: 7px 0 0 0;
                position: absolute;
                top: 50%;
                left: 70px;
            }

            #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .table .img-preview-container span.fa-save {
                color: white;
                background-color: #121212;
                padding: 10px;
                margin: 4px 0 0 14px;
                position: absolute;
                top: 50%;
                border-radius: 50%;
            }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .tripad-widget textarea {
            min-height: 300px;
            max-height: 500px;
            max-width: none;
            width: 100%;
        }


        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .btn-toolbar {
            padding: 20px 0;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .btn-toolbar button {
                margin-right: 35px;
                min-width: 100px;
            }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .address-container.disable-overflow {
            overflow-y: hidden;
        }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .address-container .form-control {
            margin-left: 5px;
        }

        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.35);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
        }

        #addressesVw .modal-editor .modal-dialog .modal-content .tags-container {
            background-color: #ffe9e9;
            border-radius: 5px;
            padding: 10px;
            width: auto;
            margin: 0;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .tags-container ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

                #addressesVw .modal-editor .modal-dialog .modal-content .tags-container ul li {
                    float: left;
                    padding: 5px 2.5px;
                }

            #addressesVw .modal-editor .modal-dialog .modal-content .tags-container .kywrd {
                border: 2px solid transparent;
                border-radius: 5px;
                padding: 2px 3px;
            }

                #addressesVw .modal-editor .modal-dialog .modal-content .tags-container .kywrd .fa-container {
                    border: none;
                    border-radius: 50%;
                    background-color: white;
                    padding: 3px 4px;
                }

        #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container {
            position: absolute;
            background-color: white;
            border: 1px solid #e50050;
            border-radius: 10px;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
            box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.75);
            z-index: 15;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .add-tags-bg .add-tags-container .wait {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
