
#addressesVw .main-table-container table.table tr .wait-ctrl-container {
    width: 100%;
    height: 200px;
}

    #addressesVw .main-table-container table.table tr .wait-ctrl-container .wait-ctrl {
        width: 60px;
        height: 60px;
        margin: 30px auto 0 auto;
    }

#addressesVw .modal-editor .modal-dialog {
    width: 70%;
}

    #addressesVw .modal-editor .modal-dialog .modal-content {
        overflow: hidden;
    }

        #addressesVw .modal-editor .modal-dialog .modal-content .modal-body {
            height: auto !important;
            max-height: calc(100vh - 340px) !important;
            overflow-y: auto;
        }

            #addressesVw .modal-editor .modal-dialog .modal-content .modal-body .form-control {
                margin-left: 5px;
            }
