#bulkimportVw .panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#bulkimportVw .panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#bulkimportVw #panelCat.panel {
    margin-bottom: 10px !important;
}

#bulkimportVw #csv-form span {
    font-size: 16px;
    margin: 0 10px;
}

#bulkimportVw .catErrors {
    margin: 0 0 5px 0;
}

#bulkimportVw #csv table {
    margin: 0 !important;
}

#bulkimportVw #csv thead {
    background-color: #eee;
}

#bulkimportVw #csv tr td {
    white-space: nowrap;
}

#bulkimportVw #csv .error {
    background-color: #f2dede;
    border-color: #ebccd1;
}

#bulkimportVw #csv .success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#bulkimportVw #csv .btn {
    margin-top: -2px !important;
    margin: 0 5px;
}

#bulkimportVw #csv .table-responsive {
    height: 50vh;
}

.btn-bs-file {
    position: relative;
}

    .btn-bs-file input[type="file"] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }
