
@model bool


<div class="container">

    <h2>
        @if (Model)
        {
            @Html.GetMessage("Msg_EmailSccssValtd")
        }
        else
        {
            @Html.GetMessage("Msg_InvldResend")
        }
    </h2>


    @if (Model)
    {
        <a asp-controller="App" asp-action="Index" class="btn btn-findme btn-lg"><span class="fa fa-chevron-left"></span>&nbsp;&nbsp;@Html.GetLabel("Lbl_BckOffc")</a>
    }

</div>